#mainContainer {
            max-width: 800px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background-color: blanchedalmond;
        }
        
        .tit {
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-weight: bold;
            font-size: large;
        }
        
        #table1 {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: small;
        }
        
        #table1 tr td,
        #table tr {
            border-width: 1px;
            border-color: blue;
            border-style: solid;
        }
        
        table,
        tr,
        td {
            border-collapse: collapse;
        }
        
        input[type=text],
        select {
            font-size: small;
            border: none;
            width: 300px;
        }
        
        .label {
            font-weight: bold;
        }
        
        .column1 {
            text-align: left;
            padding-left: 30px;
        }
